.footer { font-size: 1.5em; }

// EM media queries for relative sizing
@media screen and (max-width: 900px) {
  .footer { font-size: 1.25em; }
}
@media screen and (max-width: 500px) { .footer { font-size: 0.8em; }}

.footer {
  height: 400px;
  background-color: $color-graybg;
  color: $color-graytext;
  text-align: center;
  svg {
    cursor: pointer;
    display: inline;
    margin-top: 1em;
    height: 1.5em;
    width: 1.5em;
    fill: $color-graytext;
    transition: .2s;
  }
  svg:hover {
    fill: $color-darkbg;
  }
  .copyright {
    margin-top: 1em;
    font-size: 0.8em;
    font-family: 'Lora', serif;
  }
}
