<p>I am a developer from Philly. I currently go to Rensselaer Polytechnic Institute.
  Currently working on this project along with many others. I am really enjoying GE and everything that I am currently learning.</p>
