<div class="column">
  <h3>Phone</h3> <p>513-739-9901</p>
  <h3>Email</h3> <p>H: chris.vanderloo@yahoo.com<br><p>W: Christian.Vanderloo@ge.com</p>
  <h3>Phone</h3> <p>513-739-9901</p>
</div>
<div class="column">
  <h3>Address</h3>
  <p>
  555 Merlin Ct.<br>
  Philadelphia, PA
  12349</p>
</div>
