<div class="column">
  <div>
    <h3>Phone</h3> <p>513-739-9901</p>
    <h3>Email</h3>
    <h5>Home</h5><p>chris.vanderloo@yahoo.com</p>
    <h5>Work</h5><p>Christian.Vanderloo@ge.com</p>
    <h3>AOL IM</h3> <p>fake_email@aol.com</p>
  </div>
</div>
<div class="column">
  <div>
    <h3>Address</h3>
    <p>
    555 Merlin Ct.<br>
    Philadelphia, PA
    12349</p>
  </div>
</div>
