<div class="footer">
  <div class="social">
    <a href="http://github.com/chrisvander"><% include ../../public/icons/github.svg %></a>
  </div>
  <div class="copyright">Copyright © Chris Vanderloo, 2018</div>
</div>
