<p>This page lists movies that I enjoy. The form pulls from OMDb to fetch up-to-date movie data.</p>
<div id="vue-movies">
  <form v-on:submit.prevent="addNewMovie">
    <label for="new-movie">Add Movie</label>
    <input
      v-model="newMovieText"
      id="new-movie"
    >
    <button>Add</button>
  </form>
  <ul>
    <div
      is="movie-item"
      v-for="(movie, index) in movies"
      v-bind:key="movie.id"
      v-bind:title="movie.title"
      v-bind:year="movie.year"
      v-bind:rating="movie.rating"
      v-bind:runtime="movie.runtime"
      v-bind:director="movie.director"
      v-on:remove="movies.splice(index, 1)"
    ></div>
  </ul>
</div>
