<div class="nav">
  <div class="nav-title">
    <div class="text">
      Chris Vanderloo
    </div>
  </div>
  <div class="nav-button selected">
    <div class="text">
      Home
    </div>
  </div>
  <div class="nav-button">
    <div class="text">
      Contact
    </div>
  </div>
  <div class="nav-button right">
    <div class="text large-text right-btn">
      >
    </div>
  </div>
  <div class="nav-button right">
    <div class="text large-text left-btn">
      <
    </div>
  </div>
</div>
