<div class="nav">
  <div class="nav-button nav-title selected" onclick="toggleTab(0)">
    <div class="text">
      Chris Vanderloo
    </div>
  </div>
  <div class="nav-button" onclick="toggleTab(1)">
    <div class="text">
      Music
    </div>
  </div>
  <div class="nav-button" onclick="toggleTab(2)">
    <div class="text">
      Movies
    </div>
  </div>
  <div class="nav-button" onclick="toggleTab(3)">
    <div class="text">
      Contact
    </div>
  </div>
</div>
