<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <title>Chris Vanderloo</title>
  </head>
  <body>
    <% include ../partials/_nav %>
    <div id="tab-container">
      <div class="bg"></div>
      <div id="tab1" class="tab active">
        <div class="header">
          <h1>A Demo Powered By Node.JS and JavaScript</h1>
        </div>
        <div class="body">
          <% include ../partials/_lorem %>
        </div>
      </div>
      <div id="tab2" class="tab">
        <div class="header">
          <h1>About Me</h1>
        </div>
        <div class="body">
          <% include ../partials/_about %>
        </div>
      </div>
      <div id="tab3" class="tab">
        <div class="header">
          <h1>Contact Me</h1>
        </div>
        <div class="body">
          <% include ../partials/_contact %>
        </div>
      </div>
      <div id="tab4" class="tab">
        <div class="header">
          <h1>Music</h1>
        </div>
        <div class="body">
          <% include ../partials/_music %>
        </div>
      </div>
    </div>
    <% include ../partials/_footer %>
    <script src="../js/index.js" language="javascript"></script>
  </body>
</html>
