<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Chris Vanderloo</title>
  </head>
  <body>
    <% include ../partials/_nav %>
    <div id="tab-container">
      <div id="tab1">
        <div class="header">
          <h1>A Demo Powered By Node.JS and JavaScript</h1>
        </div>
        <div class="body">

        </div>
      </div>
      <div id="tab2">
        <div class="header">

        </div>
        <div class="body">

        </div>
      </div>
    </div>
    <% include ../partials/_footer %>
    <script src="../js/index.js" language="javascript"></script>
  </body>
</html>
